*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sign-up{
    padding: 0.6vw 2vw;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0 ;
    margin: 0.6vw 0;
}
body{
    font-family: "Roboto";
}
.padding{
    padding: 1rem 10rem;
}
.main-container{
    width:100%;
    margin: auto;
}

.box img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid blue;
}
.img-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 250px;
    background-color: gray;
}
.main-container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}
.header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #F9Faf8;
}
.header ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.header ul a, .subtext-title, .sign-up, img, p{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    line-height: 1;
}
.title-box{
    width: 420px;
}
.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 5rem 10rem;
}
.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    line-height: 1;
}
.box p{
    color:gray
}
.random-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.boxes{
    display: flex;
    gap: 2rem;
    padding-bottom: 6rem;
}
.box{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    
}

.quote{
    padding-top: 5rem;
    width: 900px;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
}
.author{
    width: 350px;
    align-self: end;
    font-weight: 900;
    padding-bottom: 5rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 1.5rem;
}
.action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.blue-box{
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 6rem;
    background-color: #3882f6;
}
.blue-box div button{
    border: 2px solid white;
}
.action-box{
    width: 500px;
}
.action-box h4{
    color: white;
    font-size: 20px;
}